@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;700&family=Prata&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.bodycont{
    width: 90%;
    margin: 0 auto;
}
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
    justify-items: center;
}
.form--button{
    width: 81%;
    height: 7vh;
    grid-column: 1/3;
    border-radius: 6px;
    grid-row: 2;
    color: white;
    background-color: #fff;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%)
}
.form--input{
    height: 7vh;
    width: 59%;
    border-radius: 6px;
    border-color: black;
    font-family: inter;
    padding-left: 1rem;
}
.meme--sizing{
    display: block;
    margin: 2rem auto 0 auto;
    width: 80%;
    height: 70vh;
    /* justify-items: center; */
    /* text-align: center; */

}
.meme--text{
    position: relative;
    color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
    font-family: impact, sans-serif;
    font-size: 2.5rem;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
    letter-spacing: 1px;
}
.top{
    bottom: 26rem;
}
.bottom{
    bottom: 9rem;
}
.origin{
    position: relative;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

@media(max-width: 600px) {
    .meme--sizing{
        height: 50vh;
    }
    .top{
        bottom: 19rem;
    }
    .bottom{
        bottom: 7.5rem;
    }
}

@media(max-width: 400px) {
    .form{
        row-gap: .5rem;
    }
    .form-2{
        margin-top: 0;
    }
    .meme--text{
        font-size: 1.8rem
    }
    .top{
        bottom: 19rem;
    }
    .bottom{
        bottom: 6.5rem;
    }
}